<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MediaBrowser.Common" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.99.0.0" newVersion="10.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MediaBrowser.Model" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.99.0.0" newVersion="10.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MediaBrowser.Controller" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.99.0.0" newVersion="10.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
